:root {
	--color-bg-dark: #303633;
	--color-bg-light: #FEFFFB;
	--color-text-base: #303633;
	--color-text-light: #FEFFFB;
	--color-theme-action: #F76C26;
	--color-theme-secondary: #D32F09;
}

html {
	background-color: var(--color-bg-light);
	/* box-sizing: content-box; */
	color: var(--color-text-base);
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	z-index: 1;
}

header.container-fluid {
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 1000;
}

a {
	text-decoration: underline;
	color: var(--color-text-base)
}

li,
ol,
ul {
	list-style: none;
}

.btn-primary {
	background-color: var(--color-theme-action);
	border: 0;
}

.btn-primary:hover,
.btn-primary:not(.disabled):active,
.btn-primary:focus {
	background-color: var(--color-theme-secondary);
}

.mb-med {
	margin-bottom: 24px;
}

.name {
	color: #FFF;
	margin: auto 24px;
}

.main-content {
	max-width: 764px;
	margin: auto;
	margin-top: 80px;
}

.icon-list {
	width: 80%;
	padding-bottom: 16px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.icon-list a {
	margin: 0 16px;
}

i.skill {
	color: var(--color-theme-action);
	padding: 0 16px;
}

i.skill:hover,
.icon-list a:hover i {
	color: var(--color-theme-secondary);
}

.skills-list {
	display: flex;
}

.nav-container {
	background-color: var(--color-bg-dark);
	height: 48px;
	display: inline-flex;
	margin: 0;
	width: 100%;
}

.nav-container a {
	color: var(--color-text-light);
	display: inline;
	font-size: 16px;
	margin-left: 16px;
	padding: 12px;
	text-decoration: none;
	vertical-align: middle;
}

.content-container {
	display: block;
	margin-top:48px;
}

.content-title {
	text-align: center;
	margin-top: 24px;
}

.content-block {
	display: block;
}

.contact i {
	color: var(--color-theme-action);
}

.brand {
	display: inline-flex;
	height: 48px;
}

.logo-container
 {
	padding: 10px;
	height: 30px;
	width: 30px;
}

a:hover,
.icon-list > a:hover {
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	color: var(--color-theme-secondary);
	transition: all .2s ease-in;
}

.section {
	border-bottom: solid 1px var(--color-theme-secondary);
	line-height: 1.5em;
	margin-bottom: 64px;
	padding: 24px;
}

.section .title-container {
	display: inline-flex;
	width: 100%;
	align-content: center;
	vertical-align: middle;
}

.section .title-container .logo img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

/* .section .title-container .title {
	margin-left: 24px;
} */

.section .title-container div {
	margin: auto 0;
}

.section .title-container .links-container {
	margin-left: auto;
}

.section .title-container .links-container a {
	padding: 12px;
	text-decoration: none;
}

.contact form {
	width: 100%;
	display: block;
}

form .line-item {
	display: block;
	margin-bottom: 16px;
	margin-top: 16px;
	padding: 8px;
	width: 100%;
}